<div class="d-flex align-items-center">
  <h1>掲示板編集</h1>
  <div class="ml-auto boards__linkBox">
    <%= link_to '一覧', boards_path, class: 'btn btn-outline-dark' %>
  </div>
</div>
<%# パーシャルの利用 %>
<%= render partial: 'form', locals: {board: @board} %>

<%# パーシャル名(board(_board.html.erb ))と同名のローカル変数が作成されパーシャルに渡される  %>
<%# <%= render partial: 'board', object: @board %> 

<%# boardのパーシャル名,local変数名boardの場合 %>
<%# <%= render @board %>