<div class="d-flex align-items-center">
  <h1>掲示板作成</h1>
  <div class="ml-auto boards__linkBox">
    <%= link_to '一覧', boards_path, class: 'btn btn-outline-dark' %>
  </div>
</div>

<%# パーシャルで呼び出す。_formを呼び出すときは単にformとかく(アンダースコア不要) %>
<%# これで直接インスタンス変数にアクセスしないで利用できる %>
<%= render partial: 'form', locals: {board: @board} %>
